.inputGroup{
    display: flex;
    width: 432px;
    justify-content: space-between;
    font-family: poppins-regular;
    margin-bottom: 16px;
}
.heading{
    font-family: poppins-bold;
}
.inputGroup input:nth-child(1){
   width: 60%;
}
.inputGroup input:nth-child(2){
    width: 25%;
    margin-left:16px;
 }
input{
    font-size: 16px;
    padding: 0px 16px;
    height: 46px;
    border: none;
    color:#4d4343;
    background-color: #DFDFDF;
}
button{
    margin: 0px 0 16px;
    font-size: 16px;
    background-color: #19F2BE;
    padding: 16px 32px;
    border: none;
    width: 100%;
    color: #4d4343;
}
button:hover{
    background-color:  #BD0000;
    color: #ffffff;
    transition: 0.3s ease;
}

@media screen and (max-width:425px){
    .heading{
        font-size: 24px;
        margin: 0;
    }
    .inputGroup{
        width: 288px;
        padding: 16px 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .inputGroup input:nth-child(1){
        width: 272px;
        padding: 0px 8px;
     }
     .inputGroup input:nth-child(2){
        width: 272px;
        margin: 16px 0;
        padding: 0px 8px;
        margin-left: 0px;
      }
    }