@font-face { 
  font-family: poppins-black; 
  src: url('/src/fonts/Poppins/Poppins-Black.ttf'); 
}

@font-face { 
  font-family: poppins-regular; 
  src: url('/src/fonts/Poppins/Poppins-Regular.ttf'); 
} 

@font-face { 
  font-family: poppins-bold; 
  src: url('/src/fonts/Poppins/Poppins-Bold.ttf'); 
}

@font-face { 
  font-family: poppins-light; 
  src: url('/src/fonts/Poppins/Poppins-Light.ttf'); 
} 

body {
  background-color: #F5F5F5;
  margin: 0;
  font-family: poppins-regular; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

