.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins-regular;
    font-size: 16px;
}

.profile img{
    width: 48px
}
.profile .userName{
    padding: 16px 0 0;
    font-size: 24px;
    font-family: poppins-bold;
}