ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 8px 0;
    padding: 8px 16px;
    width: 400px;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.done{
    background: #BD0000;
    color: #ffffff;
}
.notDone{
    background: #19F2BE;
    color: #4d4343;
}
.noTask{
    padding: 16px;
    margin:16px;
    width: 400px;
    text-align: center;
    border: 1px dashed #19F2BE;
}

@media screen and (max-width:425px){
li{
    width: 256px;
}
.noTask{
    width: 288px;
    padding: 16px 0px;
    margin: auto;
}
}